#
# Build leftovers
#
src/*.o
src/files.h
src/filetypes.h
src/functions.h
src/bin2c
src/gophernicus

README
README.options

#
# Test leftovers
#
test.output

#
# Release files
#
*.gz

#
# Debian packaging leftovers
#
build-stamp
debian/files
debian/gophernicus.debhelper.log
debian/gophernicus.postrm.debhelper
debian/gophernicus.substvars
debian/gophernicus/
