[Unit]
Description=Gophernicus gopher server

[Service]
EnvironmentFile=-/etc/default/gophernicus
EnvironmentFile=-/etc/sysconfig/gophernicus
ExecStart=/usr/sbin/in.gophernicus -h %H $OPTIONS
SuccessExitStatus=1
StandardInput=socket
User=nobody
