<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.gophernicus.server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/in.gophernicus</string>
		<string>-h@HOSTNAME@</string>
		<string>-r/Library/GopherServer</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>gopher</string>
		</dict>
	</dict>
	<key>UserName</key>
	<string>nobody</string>
	<key>inetdCompatibility</key>
	<dict>
		<key>Wait</key>
		<false/>
	</dict>
</dict>
</plist>
