Source: gophernicus
Section: net
Priority: extra
Maintainer: Kim Holviala <kim@holviala.com>
Build-Depends: debhelper (>= 5), libwrap0-dev
Standards-Version: 3.7.3
Homepage: gopher://gophernicus.org/1/software/gophernicus/server/

Package: gophernicus
Architecture: any
Depends: ${shlibs:Depends}, debconf, netbase, libwrap0, openbsd-inetd | inet-superserver | systemd
Recommends: lsb-release
Suggests: php5-cli
Description: Modern full-featured gopher server
 Gophernicus is a modern full-featured (and hopefully) secure
 gopher daemon.
